<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
<style>

    body {
        background: url(https://bagdex.com.br/wp-content/uploads/2022/09/fundo_site_01.png) no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        
    }
</style>
  <body>
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card" style="
                    backdrop-filter: blur(7px);
                    background-color: rgba(255,255,255,0.4);
                    ">
                    <div class="card-body p-5 text-center">
                        <img class="image" src="/logo_bagdex.png" alt="Bagdex" width="200">
                        <h2>Recuperar Senha</h2>
                        <form>
                            <div class="form-outline mb-4">
                                <span>E-mail</span>
                                <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Digite seu email", class:"form-control form-control-lg" %>
                            </div>


                            <div class="form-outline mb-4">
                                <%= f.submit "Enviar", class:"btn btn-primary btn-lg btn-block" %>
                            </div>

                            
                            <div class="form-outline mb-4">
                            <p>Retornar para o <a href="/users/sign_in">Login</a></p>
                            </div>

                            <div class="form-outline mb-4">
                            <%= render "devise/shared/error_messages", resource: resource %>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html> 


<% end %>
